/* Baseline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-image: url(media/headerBackground.webp);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* Main */
main {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

/* Sections */
section {
  margin-bottom: 1.5rem;
}

section h2 {
  margin-bottom: 0.5rem;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem 0;
  border-radius: 4px;
}

/* Index */
#indexSection ul {
  list-style: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
}

#indexSection li {
  margin: 1rem;
}

#indexSection a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

/* h4 */
h4 {
  margin-top: 1rem;
}

/* Footer */
footer {
  position: absolute;
  margin-bottom: 0vh;
  width: 100%;
  background-image: url(media/headerBackground.webp);
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Media Query 1 – Minst 600px (t.ex. surfplatta) */
@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "bild text";
  }

  main img {
    grid-area: bild;
  }

  main h2,
  main p {
    grid-area: text;
  }
}

/* Media Query 2 – Minst 900px (desktop) */
@media (min-width: 900px) {
  main {
    grid-template-columns: 1fr 3fr 1fr;
  }
}
