/* Baseline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  min-height: 10rem;
  background-image: url(images/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  position: absolute;
}

.logo {
  height: 5rem;
  border-radius: 50%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}

.logo:hover {
  transform: scale(1.2);
}

/* Nav */
.headerNav {
  margin-left: 50%;
  transform: translateX(-50%);
}

.headerNav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.headerNav a,
.headerNav p {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.headerNav a:hover {
  text-decoration: underline;
}

.headerNav p {
  cursor: default;
  user-select: none;
}

/* Main */
main {
  min-height: 70vh;
}

main h1 {
  margin-top: 2rem;
  text-align: center;
}

.mainSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

/* Home */
.textLeft,
.textRight {
  margin-top: 45%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.textLeft {
  text-align: right;
}

.textRight {
  text-align: left;
}

.homeImage {
  width: 75%;
  aspect-ratio: 1/1;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

/* Animals */
.animalNav {
  margin: 1rem;
}

.animalNav ul {
  margin-left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  gap: 2rem;
  width: fit-content;
}

.animalNav a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
}

.animalNav a:hover {
  text-decoration: underline;
}

.animalImg img {
  max-height: 20rem;
  width: 50%;
  aspect-ratio: 1/2;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.animal {
  margin: 25% 0;
}

/* About */

/* Contact */
form {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 5rem;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #000;
}

form select {
  padding: 5px;
}

form button {
  padding: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 25%;
}

/* Report */
.reportSection {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

.reportSection ul {
  margin-left: 2rem;
  list-style: disc;
  margin-bottom: 1rem;
}

.reportSection p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Footer */
footer {
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-image: url(images/background.webp);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

/* Sizes */
/* Tablet */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .headerNav {
    margin: 1rem 0;
    transform: none;
  }

  .headerNav ul {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  main h1 {
    font-size: 2rem;
  }

  .mainSection {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  form {
    margin: 0 1rem;
  }

  .animalNav ul {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
  }

  .animalImg img {
    margin: 0 auto;
    width: 90%;
    display: block;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .headerNav a,
  .headerNav p {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  form {
    margin: 0 0.5rem;
  }
}
